{# src/Sdz/BlogBundle/Resources/views/Blog/index.html.twig #}

{% extends "KsLogBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block log_body %}
	<div id="log_content">
		<i>Ici sera plac&eacute; les formulaires d' inscription / Connexion</i>
	</div>
{% endblock %}